@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 45px;
    padding-right: 35px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
}

.footer {
  &__content {
    background-color: #dfdfdf;
    padding: 60px 0 80px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 540px;
  }

  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }

  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }

  &__info-email {
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px;
    padding-left: 30px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($title, 0.7);
    width: 100%;
    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 27;
      color: #a1a1a1;
    }
  }

  &__form-button {
    background-color: $title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }

  &__copyright {
    background-color: $title;
    padding: 42px 0 41px;
    text-align: center;
    color: #a1a1a1;
  }
}
